# Exclude build/test files from archive.
/tests            export-ignore
/.editorconfig    export-ignore
/.gitattributes   export-ignore
/.github          export-ignore
/.gitignore       export-ignore
/phpunit.xml.dist export-ignore

# Configure diff output for .php files.
*.php diff=php
